.city-weather {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    text-decoration: none;
    color: #232F34;
    transition: all 0.3s ease-in-out;
    &__weather-icon {
        height: 128px;
        width: 128px;
        display: flex;
        align-self: center;
    }
    &__city-name {
        text-align: center;
    }
    &__weather-description {
        display: flex;
        justify-content: space-around;
    }
    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}