.menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    &__block {
        width: 400px;
        height: 100vh;
        background-color: #4A6572;
        color: white;
        box-shadow: 0 0 10px 5px grey;
        padding: 30px;
        &_hidden {
            display: none;
        }        
    }
    &__open-btn {
        height: 50px;
        padding: 10px;
        background-color: #4A6572;
        border: none;
        outline: none;
    }
    &__btn-line {
        background-color: #F9AA33;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: initial;
        }
    }
}