@import '../../../mixins.scss';

.weather-data {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #232F34;
    text-align: center;
    border-bottom: 1px solid #232F34;
    @include mobile {
        width: 100%;
        overflow-x: auto;
    }
    & * {
        width: 90px;
        padding: 5px;
        @include mobile {
            width: 100%;
        }    
    }
    &__temperature, &__humidity, &__pressure, &__wind-speed {
        @include mobile {
            white-space: nowrap;
        }
    }
    &__icon {
        width: 50px;
        height: 50px;
    }
    &__datetime {
        font-weight: 500;
        text-align: left;
        @include mobile {
            font-size: 0.75em;
        }    
    }
}

.temperature, .humidity, .pressure, .description, .wind-speed, .wind-deg {
    height: 100%;
    &__name {
        color: rgba(35, 47, 52, 0.664);
        font-size: 0.6em;
    }
}