.favorite-city {
    margin-top: 30px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name-btn {
        border: 2px solid white;
        height: 35px;
        text-align: left;
        padding: 0 10px;
        background-color: transparent;
        font-family: inherit;
        font-size: 0.9em;
        color: white;
        outline: none;
        &:hover {
            color: #F9AA33;
            border-color: #F9AA33;
            cursor: pointer;
        }    
    }
    &__close-btn {
        border: 2px solid white;
        height: 35px;
        width: 35px;
        background-color: transparent;
        font-family: inherit;
        font-size: 1em;
        color: white;
        outline: none;
        padding-bottom: 3px;
        &:hover {
            border-color: rgb(255, 83, 83);
            color: rgb(255, 83, 83);
            cursor: pointer;
        }
    }
}